extends layout
block content
  link(rel='stylesheet', href='/stylesheets/class.css')
  div.main
      div.swiper
        ul.swipern
          li
            img(src="./images/h5.jpg")
          li
            img(src="./images/less3.jpg")
          li
            img(src="./images/found.jpg")
        ol.zhuzi
          li#taken
          li
          li
        span.prv
        span.nextn

      div.livecourse
          div.livecourse_left
            ul.ccc
              li.san
                a(href="javascript:void(0)")#ss 全部
                  span.sanjiao
              li
                a(href="javascript:void(0)") IOS
                  span.sanjiaon
              li
                a(href="javascript:void(0)") HTML5
                  span.sanjiaos
              li
                a(href="javascript:void(0)") Unity-3D
                  span.sanjiaoc
              li
                a(href="javascript:void(0)") React-Native
                  span.sanjiaod
          div.livecourse_right
            div.livecourse_right_tle
                span
                  a(href="javascript:void(0)")#xiaoyou 全部
                span
                  a(href="javascript:void(0)") 直播课程
                span
                  a(href="javascript:void(0)") 点播课程
            div.livecourse_right_cont
              ul
                li
                  a(href="javascript:void(0)")
                  span.h5
                  div.info
                    div.title HTML网络课
                    p.lanou 蓝鸥科技  2016-11-22~2017-03-15
                    p.shengyu 剩余名额: 60
                    p(style="color:#65707a").zhibo 直播和录播结合，解决在职学习时间、地域冲突难题，确保学习质量。直播互
                    p(style="color:#65707a") 动，名师重点知识串讲、随时在线答疑。录播可随到随学，还能查漏补缺、反
                    p(style="color:#65707a") 复学，巩固学习效果
                  div.dx
                    i.da ￥14,800.00
                    i.xiao ￥8,800.00

                li
                  a(href="javascript:void(0)")
                  span.h5
                  div.info
                    div.title HTML直播课
                    p.lanou 蓝鸥科技  2016-11-22~2017-03-15
                    p.shengyu 剩余名额: 30
                    p(style="color:#65707a").zhibo HTML5直播课从2016年8月22日到2017年1月16，每周一至周五晚20点至
                    p(style="color:#65707a") 点15，周六早10点至12点，下午14点至18点。准时为您开课。本课程采用
                    p(style="color:#65707a") FCBS 教学模式，增强学员综合能力，项目阶段强化项目流程，严抓代码质量，强化协同开发，以企业标准完成项目。
                  div.dx
                    i.da ￥14,800.00
                    i.xiao ￥8,800.00
                li
                  a(href="javascript:void(0)")
                  span.u3
                  div.info
                    div.title Unity-3D----游戏VR
                    p.lanou 蓝鸥科技  2016-11-22~2017-03-15
                    p.shengyu 剩余名额: 60
                    p(style="color:#65707a").zhibo 本课程主要是为了让行业外的同学了解当前整个游戏行业以及AR/VR行业的发展情况，和未来的发展方向，还有Unity在其中扮演的角色
                  div.dx
                    i.da ￥9,999.00
                    i.xiao ￥7,999.00
                li
                  a(href="javascript:void(0)")
                  span.u3
                  div.info
                    div.title Unity-3D----有限状态机
                    p.lanou 蓝鸥科技  总课时:12
                    p.shengyu 剩余名额: 60
                    p(style="color:#65707a").zhibo 状态机是游戏开发必不可少的一种技术，不管是实现 AI 还是实现界面逻辑
                    p(style="color:#65707a") 使用状态机都可以大大简化我们的逻辑代码。本套课程我们从最简单的状态机开始，由浅入深地使用面向对象实现一个通用状态机，并且配有项目示例。
                  div.dx
                    i.da ￥99.00
                    i.xiao ￥99.00
                li
                  a(href="javascript:void(0)")
                  span.u3
                  div.info
                    div.title Unity-3D----动画系统
                    p.lanou 蓝鸥科技  总课时:20
                    p.shengyu 剩余名额: 60
                    p(style="color:#65707a").zhibo 本套课程中我们会深入学习Unity中的Mecanim动画系统。包括动画剪辑、动画控制器、动画状态机等相关知识，也会有人形动画、IK 动画、性能优化等内容。是一套非常全面且深入的动画教程。
                  div.dx
                    i.da ￥79.00
                    i.xiao ￥79.00



  script(src="/javascripts/class.js")


