div.footer
    div.min_width
        div.footer_left
            img(src="./images/jingying.png")
            p.pp 精英吧是由北京才信教育科技有限公司创建并运营的在线教育平台,是
            p 国内唯一一家专注精品课程和学习效果考察的在线教育网站.
            div.guanzhu
                span.we 关注我们:
                span.weix
                    span.wt
                span.weibo
                    span.dt
        div.footer_center
            ul.help 帮助
                li
                    a(href="#") 常见问题
                li
                    a(href="#") 版权声明
                li
                    a(href="#") 服务条款
            ul.less 现有课程
                li
                    a(href="#") HTML5
                li
                    a(href="#") Unity3D
                li
                    a(href="#") More>>
            ul.fankui 反馈方式
                li
                    a(href="#") 电子邮箱:help@jingyingba.com
                li
                    a(href="#") 微信反馈:精英吧(jingyingbacom)
                li
                    a(href="#") 微信反馈:才信教育
        div.footer_right
            ul.kd
                li.kdd
                    a(href="#") 口袋精英App
                        span.app
                li.guanfang
                    a(href="#") 官方网站
                li.jigou
                    a(href="#") 机构入驻
    div.foot_boot
        span 才信教育©2015-2017  京ICP备16013954号
