div.header
	div.content
		div.left
			h1
				a(href="/")
			span.jiazhi
			ul.kecheng
				li
					a(href="/list?type=1") 直播课程
				li
					a(href="/list?type=2") 点播课程
		div.right
			div.photo
				img(src="./images/defaulthead.png" style="width:48px;height:48px;")
				a(href="/center").ge 个人中心
				a(href="/logout" style="margin-left:10px;").tui 退出
			div.login
				a(href="#").dengl 短信登陆
				a(href="/login").dl 登录
				i |
				a(href="/reg").zc 注册