doctype
html
	head
		meta(charset="utf-8")
		title xxx
	body
		link(rel='stylesheet', href='/stylesheets/reg.css')
		h1 #{title}
		form.form
			span 课程名称
			input.className(type="text")
			span 描述
			input.des(type="text")
			span 价格
			input.price(type="text")
			span 原价
			input.oldPrice(type="text")
			span 图片
			input.pic(type="text")
			span 类型
			input.type(type="text")
		div.btn 提交
		script(src="/javascripts/ajax.js")
		script(src="/javascripts/listup.js")

		