extends layout
block content
    div.marin
       div.zhuc
           ul.changtiao
               li.ios
                    a(href="#").biaoqian
                        span.i
                        p ios
               li.h5
                   a(href="#").bq
                       span.h
                       p HTML5
               li.u3d
                   a(href="#").uu
                       span.u
                       p Unity-3D
               li.more
                   a(href="#").mm
                       span.mmm
                           span.m
                           span.m
                           span.m
                       p More
       div.native
          div.hezuo
              p 合作机构
              ul.tup
                  li
                      img(src="./images/meisen.png")
                  li
                      img(src="./images/lanou.png")
                  li
                      img(src="./images/mage.png")
                  li
                      img(src="./images/it.png")
                  li
                      img(src="./images/lanke.png")
                  li
                      img(src="./images/yidai.png")
                  li
                      img(src="./images/guoshi.png")
              span.next

          div.qiye
              p 合作企业
              ul.renren
                  li
                      img(src="./images/renren.png")
                  li
                      img(src="./images/feixin.png")
                  li
                      img(src="./images/renren.png")
                  li
                      img(src="./images/china.png")
                  li
                      img(src="./images/ali.png")
                  li
                      img(src="./images/baidu.png")
              span.next2
    script(src="/javascripts/index.js")





